{% extends 'layout.html.twig' %}

{% form_theme form with [ _self ] %}

{% trans_default_domain 'misc' %}

{% block _registration_nickname_widget %}
  {{ block('form_widget_simple') }}
  <img src="{{ asset('images/profle.png') }}" />
{% endblock %}

{% block title 'signup.title'|trans %}

{% block subtitle 'signup.subtitle'|trans %}

{% block content %}
  {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
      <button type="submit">
        {{- 'signup.submit'|trans -}}
      </button>
    </div>

  {{ form_end(form) }}
{% endblock %}

